$magentaColor: rgb(94, 18, 92);

* {
  box-sizing: border-box;
  outline: none;
}

.newLine {
  font-size: 13px;
  display: block;
  margin: 3px;
}

.invoiceDetails {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  overflow: scroll;
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);

  .title {
    text-align: center;
    color: $magentaColor;
    padding: 15px 0 15px 0;
  }
  .infoSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    justify-items: center;
    border-top: 1px solid $magentaColor;
    padding: 15px 0 15px 0;

    .addressField {
      display: grid;
      grid-template-columns: 70px 1fr;
      grid-gap: 5px;
      font-size: 11pt;
      .addressTxtArea {
        border: 1px solid $magentaColor;
        border-radius: 5px;
      }
    }
    .multilineSpan {
      height: 50px;
      width: 100px;
    }
  }

  .itemSection {
    border-top: 1px solid $magentaColor;
    border-bottom: 1px solid $magentaColor;

    padding: 10px 50px 10px 50px;
    .invoiceItem,
    .invoiceItemHeader {
      display: grid;
      grid-template-columns: 1fr 100px 100px 100px;
      grid-gap: 0.5rem;
      padding: 5px;
      margin: 3px;
    }

    .invoiceItem:nth-child(even) {
      background: #eed6ed;
    }

    .itemName {
      color: #000;
    }
  }
  .paymentSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5em;
    border-bottom: 1px solid $magentaColor;
    padding: 10px 50px 10px 50px;

    .rightBlock {
      text-align: right;
    }
  }

  .actionSection {
    display: grid;
    justify-content: end;
    padding: 10px;

    .linkButton {
      width: 90px;
      display: inline-block;
      height: 25px;
      border: 1px solid $magentaColor;
      border-radius: 5px;
      outline: none;
      color: $magentaColor;
      text-align: center;
      margin: 4px;
      padding: 1px;
      text-decoration: none;
      &:hover {
        background-color: $magentaColor;
        color: white;
      }
    }
  }
} // End-InvoiceDetails

.fieldRow {
  margin: 5px;
  label {
    width: 75px;
    display: inline-block;
    font-size: 13px;
  }

  .longLabel {
    width: 120px;
    display: inline-block;
    font-size: 13px;
  }
  input {
    border: 1px solid $magentaColor;
    border-radius: 3px;
    height: 22px;
    width: 130px;
  }
}
