* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.invoiceDetails .title {
  text-align: center;
  color: #5e125c;
}

.invoiceDetails .infoSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.5em;
  border-top: 1px solid #5e125c;
}

.invoiceDetails .addressSection .txtAddress {
  border: 1px solid #5e125c;
  border-radius: 3px;
  padding: 5px;
}

.invoiceDetails .itemSection {
  border-top: 1px solid #5e125c;
  border-bottom: 1px solid #5e125c;
  padding: 10px 50px 10px 50px;
}

.invoiceDetails .itemSection .invoiceItem,
.invoiceDetails .itemSection .invoiceItemHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 100px 100px;
      grid-template-columns: 1fr 100px 100px 100px;
  grid-gap: 0.5rem;
  padding: 5px;
  border-bottom: 1px solid #e1e1e1;
  margin: 3px;
}

.invoiceDetails .itemSection .invoiceItem .rightAlign,
.invoiceDetails .itemSection .invoiceItemHeader .rightAlign {
  text-align: right;
}

.invoiceDetails .paymentSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.5em;
  border-bottom: 1px solid #5e125c;
  padding: 10px 50px 10px 50px;
}

.invoiceDetails .actionSection {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
}

.invoiceDetails .actionSection .button {
  margin: 3px;
}

.invoiceDetails .fieldRow {
  margin: 3px;
  width: 300px;
}

.invoiceDetails .fieldRow span.longLabel {
  width: 150px;
  display: inline-block;
}

.invoiceDetails .fieldRow label {
  width: 100px;
  display: inline-block;
}

.invoiceDetails .fieldRow input {
  width: 200px;
  height: 25px;
  border: 1px solid #666;
  border-radius: 3px;
}

.leftSection {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.rightSection {
  padding-left: 30px;
}

.printContainer {
  background: #cccccc;
  padding: 25px;
  height: 87vh;
  overflow: scroll;
}

.printContainer .newLine {
  font-size: 13px;
  display: block;
  margin: 3px;
}

.printContainer .printArea {
  width: 21cm;
  height: 29.7cm;
  padding: 15px;
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.printContainer .printArea .page {
  height: 29cm;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.printContainer .printArea .page .pageHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  margin: 20px;
}

.printContainer .printArea .page .pageBody {
  height: 25cm;
  width: 20cm;
}

.printContainer .printArea .page .pageBody .invoiceInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  border-top: 1px solid #4b2626;
  padding-left: 50px;
}

.printContainer .printArea .page .pageBody .itemsSection {
  padding: 10px 50px 10px 50px;
  border-top: 1px solid #4b2626;
}

.printContainer .printArea .page .pageBody .paymentSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  border-top: 1px solid #4b2626;
  padding-left: 50px;
}

.printContainer .printArea .page .pageBody .signatureSection {
  border-top: 1px solid #4b2626;
  padding-left: 50px;
}

.printContainer .printArea .page .pageFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #5e125c;
  padding: 10px;
  margin: 20px;
  font-size: 10pt;
}
/*# sourceMappingURL=invoice.css.map */