$magentaColor: rgb(94, 18, 92);

* {
  box-sizing: border-box;
  outline: none;
}

.newLine {
  font-size: 13px;
  display: block;
  margin: 3px;
}

.invoiceDetails {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  overflow: scroll;
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);

  .title {
    text-align: center;
    color: $magentaColor;
    padding: 15px 0 15px 0;
  }
  .infoSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    justify-items: center;
    border-top: 1px solid $magentaColor;
    padding: 15px 0 15px 0;
  }

  .itemSection {
    border-top: 1px solid $magentaColor;
    border-bottom: 1px solid $magentaColor;

    padding: 10px 50px 10px 50px;
    .invoiceItem,
    .invoiceItemHeader {
      display: grid;
      grid-template-columns: 1fr 100px 100px 100px;
      grid-gap: 0.5rem;
      padding: 5px;
      margin: 3px;
    }

    .invoiceItem:nth-child(even) {
      background: #eed6ed;
    }

    .itemName {
      color: #000;
    }
  }
  .summarySection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    border-bottom: 1px solid $magentaColor;
    padding: 10px;
    margin: 5px 45px;
    font-size: 13px;
    .keyLabel,
    .valueLabel {
      width: 90px;
      display: inline-block;
      margin: 3px;
    }
    .longLabel {
      display: inline-block;
    }
    .leftBlock {
      padding: 10px;
      display: grid;
      justify-content: start;
    }
  } //End-SummarySection

  .actionSection {
    display: grid;
    justify-content: end;
    padding: 10px;

    .linkButton {
      width: 90px;
      display: inline-block;
      height: 25px;
      border: 1px solid $magentaColor;
      border-radius: 5px;
      outline: none;
      color: $magentaColor;
      text-align: center;
      margin: 4px;
      padding: 1px;
      text-decoration: none;
      &:hover {
        background-color: $magentaColor;
        color: white;
      }
    }
  }
} // End-InvoiceDetails
