$magentaColor: rgb(94, 18, 92);
$lightMagentaColor: #eed6ed;
$thickBorder: 3px solid $magentaColor;
$thinBorder: 1px solid $lightMagentaColor;
$a4Width: 21cm;
$a4Height: 29.7cm;
$boxShadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

.pageA4 {
  * {
    box-sizing: border-box;
  }
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: $boxShadow;
  width: 21cm; //793.69px
  //   height: 29.7cm; //1122.52px

  header {
    height: 180px;
    border-bottom: $thickBorder;
  }
  .pageBody {
    height: 838px;
    .infoSection {
      display: grid;
      grid-template-columns: 30% 30% 35%;
      grid-template-rows: 130px;
      grid-gap: 0.5em;
      justify-items: center;
      padding: 30px 0 30px 0;
      .dataBlock {
        border: $thinBorder;
        padding: 15px;
      }
    }
    .itemsSection {
      display: grid;
      justify-items: center;
      .itemHeaderBlock {
        display: grid;
        grid-template-columns: 400px 80px 80px 50px;
        grid-gap: 0.5em;
        padding: 5px 0 10px 0;
        font-weight: bold;
      }
      .itemBlock {
        height: 40px;
        border-top: $thinBorder;
        display: grid;
        grid-template-columns: 375px 70px 70px 80px;
        grid-gap: 0.5em;
        margin: 3px 0 0 0;
        div {
          padding-top: 5px;
        }
        .quantity,
        .price,
        .totalPrice {
          text-align: right;
        }
      }
    }
    .paymentSection {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px;
      grid-gap: 0.5em;
      padding: 15px 20px 15px 40px;
      border-top: $thinBorder;
    }
    .signatureSection {
      display: grid;
      grid-template-rows: 100px;
      padding: 15px 20px 15px 40px;
    }
  }
  footer {
    height: 100px;
    border-top: $thickBorder;
  }
}

@media print {
  @page {
    size: auto;
    margin: 0mm;
    border: none;
  }

  //   html,
  //   body,
  //   .pageWrapper {
  //     float: none;
  //   }
  //   .header,
  //   .footer,
  //   .actionBlock {
  //     display: none;
  //   }
  //   .pageWrapper {
  //     border: $thickBorder;
  //     margin: 5px;
  //     height: 400px;
  //   }

  //   .breakAfter {
  //     display: block;
  //     page-break-after: auto;
  //     background-color: blue;
  //     border: $thickBorder;
  //   }

  //   .breakBefore {
  //     display: block;
  //     page-break-before: always;
  //     break-before: page;
  //     position: relative;
  //   }
}

// @page {
//   size: auto;
//   margin: 0mm;
//   border: none;
// }
// @media print {
//   @page {
//     margin: 0;
//     size: auto;
//     margin: 0mm;
//     border: none;
//   }
//   p {
//     page-break-after: always;
//   }
// }
