$magentaColor: rgb(94, 18, 92);
$lightMagentaColor: #eed6ed;
$thickBorder: 3px solid $magentaColor;
$lightBorder: 1px solid $lightMagentaColor;
$a4Width: 21cm;
$a4Height: 29.7cm;

.printContainer {
  background: #cccccc;
  height: 87vh;
  overflow: scroll;
  display: grid;
  justify-items: center;
  border: none;
  .buttonGroup {
    padding: 30px;
  }

  .pageWrapper {
    width: $a4Width;
    height: $a4Height;
    background: white;
    margin-bottom: 0.5cm;
    -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);

    .page {
      width: $a4Width;
      height: $a4Height;
      .pageHeader {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5em;
        margin: 20px;
        padding: 20px;
        height: 80px;
      }
      .pageBody {
        border-top: $thickBorder;
        border-bottom: $thickBorder;
        height: 930px;
        .invoiceInfo {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 0.5em;
          justify-items: center;
          padding: 45px 0 35px 45px;
          border-bottom: $lightBorder;

          .addressField {
            display: grid;
            grid-template-columns: 70px 1fr;
            grid-gap: 5px;
            font-size: 11pt;
          }
          .multilineSpan {
            height: 50px;
            width: 100px;
          }
        }
        .itemsSection {
          padding: 50px 50px 10px 50px;
          .invoiceItem,
          .invoiceItemHeader {
            color: 000;
            display: grid;
            grid-template-columns: 30px 1fr 80px 80px 70px;
            grid-gap: 0.5rem;
            padding: 3px;
            margin: 3px;
            border-bottom: $lightBorder;
          }

          .invoiceItem:last-child {
            border: none;
          }
        }
        .paymentSection {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 0.5em;
          margin: 5px 50px 20px 50px;
          border-top: $lightBorder;
        }
        .signatureSection {
          padding: 55px 0 15px 50px;
        }
      }
      .pageFooter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
        margin: 20px;
        font-size: 10pt;
      }
    } //End -Page
  } //End-printArea
} //End-printContainer

@page {
  size: auto;
  margin: 0mm;
  border: none;
}
@media print {
  .buttonGroup,
  .nav,
  .footer {
    display: none;
  }
  .printContainer {
    border: none;
    background: #fff;
    display: grid;
    justify-items: center;
    width: 21cm;
    height: 29.7cm;
    margin: 0;
    padding: 0;
    .pageWrapper {
      margin: 0;
      padding: 0;
      background: white;
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      .page {
        width: $a4Width;
        height: $a4Height;
        border: none;
        margin: 0;
        padding: 0;
        .pageHeader {
          height: 80px;
        }
        .pageBody {
          height: 930px;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
