$magentaColor: rgb(94, 18, 92);

.printContainer {
  background: #cccccc;
  padding: 25px;
  height: 87vh;
  overflow: scroll;
  display: grid;
  justify-items: center;

  .pageWrapper {
    width: 21cm;
    height: 29.7cm;
    padding: 15px;
    background: white;
    margin-bottom: 0.5cm;
    -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    // box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

    .page {
      height: 29cm;
      display: grid;
      justify-content: center;
      .pageHeader {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5em;
        margin: 40px;
      }
      .pageBody {
        height: 25cm;
        width: 20cm;
        .invoiceInfo {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 0.5em;
          border-top: 1px solid rgb(75, 38, 38);
          justify-items: center;
        }
        .itemsSection {
          padding: 10px 50px 10px 50px;
          border-top: 1px solid rgb(75, 38, 38);
          .invoiceItem,
          .invoiceItemHeader {
            color: 000;
            display: grid;
            grid-template-columns: 30px 1fr 80px 80px 70px;
            grid-gap: 0.5rem;
            padding: 3px;
            border-bottom: 1px solid #e1e1e1;
            margin: 3px;
          }
        }
        .paymentSection {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 0.5em;
          border-top: 1px solid rgb(75, 38, 38);
          padding: 10px 50px 10px 50px;
        }
        .signatureSection {
          border-top: 1px solid rgb(75, 38, 38);
          padding-left: 50px;
        }
      }
      .pageFooter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px solid $magentaColor;
        padding: 10px;
        margin: 20px;
        font-size: 10pt;
      }
    } //End -Page
  } //End-printArea
} //End-printContainer

// .printArea[size="A4"] {
//   width: 21cm;
//   height: 29.7cm;
// }

@page {
  size: auto;
  margin: 0mm;
}
@media print {
  .buttonGroup,
  .nav,
  .footer {
    display: none;
  }
  .printContainer {
    background: #cccccc;
    display: grid;
    justify-items: center;
    width: 21cm;
    height: 29.7cm;
    margin: 0;
    padding: 0;
    .pageWrapper {
      margin: 0;
      padding: 0;
      background: white;
      box-shadow: none;
    }
  }
}
