button {
  width: 90px;
  height: 25px;
  border: 1px solid #5e125c;
  border-radius: 5px;
  outline: none;
}

button:hover {
  color: antiquewhite;
  background-color: #5e125c;
  cursor: pointer;
}

.shoppingContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.5em;
}

.productList,
.cart {
  border: 1px solid #555;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}

.cartHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 70px 70px 70px 70px;
      grid-template-columns: 320px 70px 70px 70px 70px;
  grid-gap: 0.6em;
}

.cartItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 70px 70px 70px 70px;
      grid-template-columns: 320px 70px 70px 70px 70px;
  grid-gap: 0.5rem;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  margin: 3px;
}

.cartItem .productSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 50px 50px;
      grid-template-columns: 1fr 20px 50px 50px;
}

span.removeIcon {
  content: "\2715";
  font-weight: bold;
  color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

span.removeIcon:hover {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.numericStepper {
  padding: 3px;
  text-align: right;
  width: 6em;
  height: 1.3em;
  border-radius: 5px;
  border: 1px solid #555;
}

.totalPrice {
  text-align: right;
}

.searchSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  padding: 5px;
}

.searchSection .searchInput {
  border: 1px solid #555;
  border-radius: 5px;
  height: 20px;
  margin-right: 5px;
  padding-left: 10px;
  color: #5e125c;
}

.productDetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% minmax(200px, 75%) minmax(100px, 10%);
      grid-template-columns: 10% minmax(200px, 75%) minmax(100px, 10%);
      grid-template-areas: "imageSection infoSection buttonSection";
  margin: 3px;
  border: 1px solid #555;
  border-radius: 5px;
}

.imageSection {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imageSection;
}

.infoSection {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: infoSection;
  padding: 5px;
}

.productName {
  font-weight: bold;
  color: #5e125c;
}

.productDesc,
.productCode,
.productPrice,
.customCode {
  font-size: 0.8em;
}

.buttonSection {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: buttonSection;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.searchSection,
.cartHeader,
.cartFooter {
  padding: 10px;
  margin: 3px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #5e125c;
  color: #fff;
}

.cartFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.5em;
}

.paymentSection {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 15px;
}

.amountSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 0.5em;
}

.amountSection .labelSection div,
.amountSection .valueSection div {
  height: 15px;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */