$magentaColor: rgb(94, 18, 92);

* {
  box-sizing: border-box;
}

// ---------------NAVIGATION MENU

.nav {
  height: 50px;
  width: 100%;
  background-color: $magentaColor;
  border: 1px solid $magentaColor;
  border-radius: 5px;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: $magentaColor;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
// ----------------END NAVIGATION MENU
button {
  width: 90px;
  height: 25px;
  border: 1px solid $magentaColor;
  border-radius: 5px;
  outline: none;
  &:hover {
    color: antiquewhite;
    background-color: $magentaColor;
    cursor: pointer;
  }
}

.shoppingContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.5em;
}

.productList,
.cart {
  border: 1px solid #555;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}

.cartHeader {
  display: grid;
  grid-template-columns: 320px 70px 70px 70px 70px;
  grid-gap: 0.6em;
}
.cartItem {
  display: grid;
  grid-template-columns: 320px 70px 70px 70px 70px;
  grid-gap: 0.5rem;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  margin: 3px;

  .productSection {
    display: grid;
    grid-template-columns: 1fr 20px 50px 50px;
  }
}
span.removeIcon {
  content: "\2715";
  font-weight: bold;
  color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  &:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
}
.numericStepper {
  padding: 3px;
  text-align: right;
  width: 6em;
  height: 1.3em;
  border-radius: 5px;
  border: 1px solid #555;
}
.totalPrice {
  text-align: right;
}
.searchSection {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 5px;
  .searchInput {
    border: 1px solid #555;
    border-radius: 5px;
    height: 20px;
    margin-right: 5px;
    padding-left: 10px;
    color: $magentaColor;
  }
}
.productDetails {
  display: grid;
  grid-template-columns: 10% minmax(200px, 75%) minmax(100px, 10%);
  grid-template-areas: "imageSection infoSection buttonSection";
  margin: 3px;
  border: 1px solid #555;
  border-radius: 5px;
}

.imageSection {
  grid-area: imageSection;
}
.infoSection {
  grid-area: infoSection;
  padding: 5px;
}

.productName {
  font-weight: bold;
  color: $magentaColor;
}
.productDesc,
.productCode,
.productPrice,
.customCode {
  font-size: 0.8em;
}
.buttonSection {
  grid-area: buttonSection;
  padding: 5px;
  display: grid;
  align-items: center;
  justify-content: right;
}

.searchSection,
.cartHeader,
.cartBody,
.cartFooter {
  padding: 10px;
  margin: 3px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: $magentaColor;
  color: #fff;
}
.cartBody {
  padding: 15px;
}
.cartFooter {
  display: grid;
  justify-items: end;

  button {
    width: 150px;
    height: 30px;
    font-size: 12pt;
    font-weight: bold;
    color: $magentaColor;
  }
}

.cartBody {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5em;
}

.paymentSection {
  display: grid;
  align-items: end;
  padding: 15px;
}

.amountSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 0.2em;

  .labelSection,
  .valueSection {
    div {
      height: 20px;
      padding: 5px;
    }
  }
}

.hidden {
  visibility: hidden;
}
