$magentaColor: rgb(94, 18, 92);

button {
  width: 90px;
  height: 25px;
  border: 1px solid $magentaColor;
  border-radius: 5px;
  outline: none;
  &:hover {
    color: antiquewhite;
    background-color: $magentaColor;
    cursor: pointer;
  }
}

.shoppingContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0.5em;
}

.productList,
.cart {
  border: 1px solid #555;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
}

.cartHeader {
  display: grid;
  grid-template-columns: 320px 70px 70px 70px 70px;
  grid-gap: 0.6em;
}
.cartItem {
  display: grid;
  grid-template-columns: 320px 70px 70px 70px 70px;
  grid-gap: 0.5rem;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  margin: 3px;

  .productSection {
    display: grid;
    grid-template-columns: 1fr 20px 50px 50px;
  }
}
span.removeIcon {
  content: "\2715";
  font-weight: bold;
  color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  &:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
}
.numericStepper {
  padding: 3px;
  text-align: right;
  width: 6em;
  height: 1.6em;
  border-radius: 5px;
  border: 1px solid #555;
}
.totalPrice {
  text-align: right;
}
.searchSection {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 5px;
  .searchInput {
    border: 1px solid #555;
    border-radius: 5px;
    height: 20px;
    margin-right: 5px;
    padding-left: 10px;
    color: $magentaColor;
  }
}
.productDetails {
  display: grid;
  grid-template-columns: 10% minmax(200px, 75%) minmax(100px, 10%);
  grid-template-areas: "imageSection infoSection buttonSection";
  margin: 3px;
  border: 1px solid #555;
  border-radius: 5px;
}

.imageSection {
  grid-area: imageSection;
}
.infoSection {
  grid-area: infoSection;
  padding: 5px;
}

.productName {
  font-weight: bold;
  color: $magentaColor;
}
.productDesc,
.productCode,
.productPrice,
.customCode {
  font-size: 0.8em;
}
.buttonSection {
  grid-area: buttonSection;
  padding: 5px;
  display: grid;
  align-items: center;
  justify-content: right;
}

.searchSection,
.cartHeader,
.cartFooter {
  padding: 10px;
  margin: 3px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: $magentaColor;
  color: #fff;
}
