$magentaColor: rgb(94, 18, 92);
$lightMagentaColor: #eed6ed;
$thickBorder: 3px solid $magentaColor;
$thinBorder: 1px solid $lightMagentaColor;
$a4Width: 21cm;
$a4Height: 29.7cm;
$boxShadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
$magentaBGGradient: linear-gradient(
  90deg,
  rgba(40, 4, 38, 1) 0%,
  rgba(94, 18, 92, 1) 35%,
  rgba(98, 14, 96, 1) 100%
);
* {
  box-sizing: border-box;
}
//  START ------------ ANIMATION
.transition-enter {
  opacity: 0.01;
  transform: translate(0, -10px);
}
.transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 300ms ease-in;
}
.transition-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.transition-exit-active {
  opacity: 0.01;
  transform: translate(0, 10px);
  transition: all 300ms ease-in;
}

// ----------END - ANIMATION

.cart {
  border: 1px solid $magentaColor;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;

  background: #fff;

  .cartHeader {
    display: grid;
    grid-template-columns: 280px 70px 70px 70px 50px;
    grid-gap: 0.6em;
    padding: 5px 0 5px 25px;
  }

  .cartBody {
    margin-top: 10px;
    .cartItem {
      display: grid;
      grid-template-columns: 285px 75px 75px 55px 30px;
      grid-gap: 0.5rem;
      padding: 1px 0 10px 20px;
      border-radius: 5px;
      margin: 3px;

      .action {
        text-align: right;
        padding: 5px;
      }

      span.removeIcon {
        content: "\2715";
        font-weight: bold;
        text-align: center;
        color: red;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding-top: 5px;
        display: inline-block;
        &:hover {
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
          cursor: pointer;
        }
      }

      &:nth-child(even) {
        background: #eed6ed;
      }
    }
  }

  .numericStepper {
    padding: 3px;
    text-align: right;
    width: 6em;
    height: 1.8em;
    border-radius: 5px;
    border: 1px solid #555;
  }

  .cartHeader,
  .summarySection,
  .cartFooter {
    margin: 3px;
    border: 1px solid #555;
    border-radius: 5px;
    background: $magentaBGGradient;
    color: #fff;
  }

  .cartFooter {
    display: grid;
    justify-items: end;
    padding: 10px;
    button {
      width: 150px;
      height: 30px;
      font-size: 12pt;
      font-weight: bold;
      color: $magentaColor;
      &:hover {
        background-color: rgb(72, 22, 48);
        color: #fff;
      }
    }
    a {
      width: 150px;
      height: 30px;
      background: #fff;
      font-size: 12pt;
      font-weight: bold;
      text-decoration: none;
      display: block;
      padding: 5px;
      border: 1px solid $magentaColor;
      border-radius: 5px;
      text-align: center;
      &:hover {
        background-color: rgb(233, 190, 214);
      }
    }
  } //End-Footer

  .summarySection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    border-bottom: 1px solid $magentaColor;
    padding: 20px;
    .keyLabel,
    .valueLabel {
      width: 90px;
      display: inline-block;
      margin: 3px;
    }
    .longLabel {
      display: inline-block;
    }
    .leftBlock {
      padding: 10px;
      display: grid;
      justify-content: start;
    }
  } //End-SummarySection
} //End of Cart
